@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body{
	font: normal 14px 'Open Sans', Arial, sans-serif;
	color: #999;
	background-image: url("http://antennamag.com/files/2014/09/yung-lean.jpg?w=600&h=0&zc=1&s=0&a=t&q=89");
	/*background-size: 100%;*/
	/*background-repeat: no-repeat;*/
	background-attachment: fixed;
    background-position: center; 
    background-repeat: no-repeat;
}

.container{
	width: 900px;
	height: 600px;
	margin-top: 40px;
	background: #f1f1f1;
	text-align: center;
	padding-top: 30px;
}

#username{
	padding-bottom: 20px;
}

#password{
	padding-bottom: 20px;
}

#box1{
	border: 1px solid black;
}
#box2{
	border: 1px solid black;
}